.app {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  color: #012E40;
  background-color: #8FADBF;
  font-size: 18px;
  min-height: 100vh;
  padding: 30px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  @media screen and (max-width: 786px){
    grid-template-columns: 1fr;
  }
}

.column {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, minmax(200px, max-content));
  align-items: stretch;
  gap: 20px;
}
