.input {
  padding: 15px 15px;
  border-radius: 5px;
  border: none;
  background-color: #778C79;
  color: #F2C166;

  &:focus {
    outline: #F2C166 3px solid;
  }

  &::placeholder {
    color: #F2E7AC;
    opacity: 1;
  }
}
