.event-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #F2E7AC;
}

.row {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
