.form {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
  border-radius: 5px;
  background-color: #5D84A6;
  color: #F2E7AC;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 20px;
}
